/*
Helper classes. Si utilizzano nell'editor dei post di Wordpress
---------------------------------------------------------------------------------------------------- */

//* Padding

.pvs {
	padding: $padding-small 0;
	overflow: auto;

}

.pvm {
	padding: $padding-medium 0;
	overflow: auto;

}

.pvl {
	padding: $padding-large 0;
	overflow: auto;

}

.pvxl {
	padding: $padding-xlarge 0;
	overflow: auto;

}

.phl {
	padding: 0 $padding-large;
	overflow: auto;

}

.phm {
	padding: 0 $padding-medium;
	overflow: auto;
}

.phs {
	padding: 0 $padding-small;
	overflow: auto;
}

.pl {
	padding: $padding-large;
	overflow: auto;
}

.pm {
	padding: $padding-medium;
	overflow: auto;

}

.ps {
	padding: $padding-small;
	overflow: auto;
}

.ptl {
	padding-top: $padding-large;
	overflow: auto;
}

.nopad {
	padding: 0;
}


//* Permettono di spaziare le sezioni e i container (da completare com per i padding)
.mvs {
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: auto;
}

.mvm {
	margin-bottom: 40px;
	margin-top: 40px;
	overflow: auto;
}

.mvl {
	margin-bottom: 80px;
	margin-top: 80px;
	overflow: auto;
}


//* Spacer

.spacer-small {
    margin: 20px auto;
}

.spcer-medium, ,.spacer, .separator {
    margin: 40px auto;
}

.spacer-large {
    margin: 60px auto;
}

//* Arranger

.center, .align-center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.right, .align-right {
	text-align: right !important;
}

// Backgrounds
.fixed {	
	background-attachment: fixed;	
}

//* Colors

.color1 {
	color: $color1;
}

.color2 {
	color: $color2;
}

.color3 {
	color: $color3;
}

.color4 {
	color: $color4;
}

.bk-color1 {
	background-color: $color1;
}

.bk-color2 {
	background-color: $color2;
}

.bk-color3 {
	background-color: $color3;
}

.bk-color4 {
	background-color: $color4;
}

.red {
	color: $red;
} 

.green {
	color: $green;
}

.yellow {
	color: $yellow;
}

.orange {
	color: $orange ;
}

.blue, .blu {
	color: $blue;
}

.black {
	color: #000;
}

.white {
	color: #FFF;
}

.bk-red {
	background-color: $red;
} 

.bk-green {
	background-color: $green;
}

.bk-yellow {
	background-color: $yellow;
}

.bk-orange {
	background-color: $orange ;
}

.bk-blue {
	background-color: $blue ;
}

.bk-black {
	background-color: #000;
}

.bk-white {
	background-color: #FFF;
}


//* Sfondi demo

.background-1 {
	background: url('./images/background-1.jpg');
}

.background-2 {
	background-image: url('./images/background-2.jpg');
	background-repeat: repeat;
}

.polygon-green {
	background: url("./images/polygon-green.jpg") repeat;
	background-size: cover;
}

.polygon-blue {
	background: url("./images/polygon-blue.jpg") repeat;
	background-size: cover;
}

.polygon-red {
	background: url("./images/polygon-red.jpg") repeat;
	background-size: cover;
}

.polygon-yellow {
	background: url("./images/polygon-yellow.jpg") repeat;
	background-size: cover;
}

.polygon-purple {
	background: url("./images/polygon-purple.jpg") repeat;
	background-size: cover;
}


//* Hero
.hero {
	background: url('./images/hero.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	padding: 0% 0;
	padding: 100px 0;
	height: calc(100vh);
	display: flex;
	align-items:center;
}

//* Text
.text-light, .color-light {
	color: $color-light !important;
}

.text-dark, .color-dark {
	color: $color-dark !important;
}

.uppercase {
	text-transform: uppercase;
}

.text-columns {
	text-align: justify;
	/*
	-webkit-column-count: 2; 
	-moz-column-count: 2; 
	column-count: 2;
	*/
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
	-webkit-column-width: 9em;
	-moz-column-width: 9em;
	column-width: 18em;
}


.text-separator {
    overflow: hidden;
    text-align: center;
    margin: 40px auto !important;
    
    &:before,
	&:after {
	    background-color: $title-color;
	    content: "";
	    display: inline-block;
	    height: 1px;
	    position: relative;
	    vertical-align: middle;
	    width: 20%;
	}

	&:before {
	    right: 0.5rem;
	    margin-left: -50%;
	}

	&:after {
	    left: 0.5rem;
	    margin-right: -50%;
	}

}

.overlay {
	position: absolute;
	top: 40%;
	left: 25%;
	width: 50%;
	text-align: center;
}

.content-box-primary {
	background-color: $primary-color;
	border: 1px solid $primary-color-alt;
	margin-bottom: 30px;
	overflow: hidden;
	padding: 30px;
	width: 80%;
	margin: 30px auto;
}

.content-box-secondary {
	background-color: $secondary-color;
	border: 1px solid $secondary-color-alt;
	margin-bottom: 30px;
	overflow: hidden;
	padding: 30px;
	width: 80%;
	margin: 30px auto;
}

.content-box-light {
	background-color: #fff;
	border: 1px solid $text-color;
	margin-bottom: 30px;
	overflow: hidden;
	padding: 30px;
	width: 80%;
	margin: 30px auto;
}

//* Social icons

.facebook,
.youtube,
.twitter,
.pinterest {
	float: left;
	margin-right: 20px;
	
}

.social {
	overflow: auto;	
}

.facebook {

	i {
		color: #3b5998;
		
		&:hover {
			color: #8b9dc3;
		}		

	}
}

.twitter {

	i {
		color: #0084b4;
		
		&:hover {
			color: #00aced;
		}		

	}
}

.pinterest {
	
	i {
		color: #bd081c;
		
		&:hover {
			color: #d50c22;
		}		

	}
}

.youtube {
	
	i {
		color: #CD201F;
		
		&:hover {
			color: #000000;
		}		

	}
}

//* Aligner se assegnato a una section permette di allineare verticalmente il contenuto
//* display:flex non permette alle colonne di collassare su schermi piccoli,
//* per cui la rendo funzionante in corrispondenza di colonne ancora non collassate
@media only screen and (min-width: $screen-small) {

	.aligner {
		display:flex;
		align-items:center;
	}

}


.hidden {
    display: none;
}